**/__pycache__
*.md
*.pyc
*~
.dockerignore
.gcloudignore
.git
.gitignore
.mypy_cache
.pytest_cache
.ruff_cache
TODO
analyze-stdin.py
deploy.sh
ensure_trigger.sh
new-games-to-db
old
repository-cleanup-policy.json
store-in-gcs
venv
.venv
